<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light text-center">
    <!-- Include Background Template -->
    {% include 'bgtemplate.html' %}

    <!-- Home Container -->
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="mb-4">Welcome to SocialApp</h1>
        <a href="/logout" class="btn btn-danger btn-lg">Logout</a>
    </div>
    <div class="container d-flex flex-column justify-content-center align items-center vh-100">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Username</th>
            </tr>
            {% for current_user in users %}
            <tr>
                <td>{{current_user.fullname}}</td>
                <td>{{current_user.email}}</td>
                <td>{{current_user.phone_no}}</td>
                <td>{{current_user.username}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
